.place__website {
  margin-bottom: 32px;
  width: 288px;
  box-sizing: border-box;
  padding-left: 16px;
}

@media screen and (min-width:768px) {
  .place__website {
    margin-bottom: 48px;
    padding-left: 28px;
  }
}

@media screen and (min-width:1024px) {
  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-left: 0;
  }
}
