.place {
  width: 100%;
}

@media screen and (min-width:425px) {
  .place {
    display: grid;
    grid-template-columns: 1 fr;
  }
}

@media screen and (min-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 345px 375px;

  }
}

@media screen and (min-width:1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (min-width:1280px) {
  .place {
    max-width: 984px;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
  }
}
