.place__title {
  margin-left: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: white;
  transition: .4s ease;
}

@media screen and (min-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin-left: 0;
    margin-top: 32px;
  }
}

@media screen and (min-width:1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    margin-top: 0;
  }
}
