.place {
  width: 100%;
  transition: width .5s;
  box-sizing: border-box;
  padding-top: 50px;
  transition: width .4s;
}

@media screen and (min-width:425px) {
  .place {
    display: grid;
    grid-template-columns: 1 fr;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 345px 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 74px;
  }
}

@media screen and (min-width:1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
    padding-top: 80px;
  }
}

@media screen and (min-width:1280px) {
  .place {
    max-width: 984px;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
  }
}
